.gallery-item{
    height: 100%;
    width: auto;
    object-fit: contain;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* .gallery-item{
    height: 25rem;
    width: 25rem;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
} */

.committee-banner{
    width: 100%;
    height: auto;
    margin: 1rem auto;
}