<!DOCTYPE html>
<html>
    <body>
    <form action="/" method="POST">
    <input name="id" type="text" placeholder="ITS Number" required>
    <input name="password" type="password"  placeholder="Password" required>
    <button>login</button>
    </form>
    </body>
</html>